<div class="card-trip">
  <% if list.photo.present? %>
    <img src= "<%=cl_image_path(list.photo.key)%>">
  <% elsif list.movies.any? %>
    <img src = "<%=list.movies.sample.poster_url%>">
  <% end %>
  <%= link_to list_path(list.id) do %>
    <div class="card-trip-infos">
      <h4><%= list.name %></h4>
    <% end %>
  </div>
</div>
