<div class="container">
  <h1>Favorites' lists </h1>
  <div class="row">
    <div class="cards mb-5">
      <% @lists.each do |list| %>
        <%= render "list_card", list: list %>
      <% end %>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <button class="golden-btn" style="font-size:1.3em;" id="list-button">Create new list</button>
</div>
