<h1><%= @list.name %></h1>
<div class="container">
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <%= render "bookmark_card", bookmark: bookmark %>
    <% end %>
  </div>
</div>
<div class="container">
  <%= render "bookmarks_form" %>
</div>
