.card-category {
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(22, 2, 2, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: #ecf0f1;
}

.card-title-bottom {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


.card-title-bottom-custom {
  padding: 16px;
  position: relative;
}



.card-title-bottom h2 {
  color: white;
  text-shadow: 0 0 15px rgba(0,0,0,0.2);
}


// .card-category a:hover {

// }
