// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
// @import "netflix_carousel";
@import "cards_grid";
@import "card-category";
@import "unique_fonts";
@import "banner";
@import "search-form";
@import "navbar";
@import "card-trip";
@import "golden_button";

body, a, html {
  padding: 0 10px;
  margin: 0;
  background: #0E0F11;
  color: #ecf0f1;
  min-height: 100vh;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: row;
}

a:hover {
  color: #fff;
}

@media (max-width: 1000px) {
  .main-container {
    flex-direction: column;
  }
}
